InternVideo
!InternVideo/.gitkeep

datasets/ActivityNet/*
!datasets/ActivityNet/.gitkeep

datasets/Charades/*
!datasets/Charades/.gitkeep

# Ensure datasets folder itself is tracked
!datasets/
!datasets/.gitkeep